* {
  box-sizing: border-box;
}

.App {
}

.header {
  height: 64px;
  background-color: blue;
}

.view {
  height: calc(100vh - 64px);
}
.content {
  height: 80%;
  position: relative;
}

.right-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  transition: width .3s ease-out;
  background-color: coral;
}
.right-panel.opened {
  width: 400px;
}
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.footer {
  height: 20%;
  background-color: gray;
}